li {
    display: list-item;
    list-style-type: "+";
    padding-inline-start: 1ch;
}

p {
    font-size: clamp(10px, 8vw, 17px);
    text-align: left;
    width: 90%;
    margin-top: 0;
}

.tech {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;

}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    width: 80%;
    height: 100vh;
}

.color-label {
    color: #55BCC9;
}

@media screen and (max-width: 800px) {
    .main {
        width: 100%;
    }
}