img {
    height: auto;
    max-width: 80%;
}

.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.project-item {
    width: 50%;
    margin: 15px auto;
}

.card {
    /* background-color:rgba(115, 138, 173, 0.603); */
}

.buttons {
    display: flex;
    justify-content: center;
    /* background-color:rgba(173, 115, 115, 0.603); */
}

@media screen and (max-width: 800px) {
    .project-item {
        width: 80%;
    }
}