/* .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
} */

.nav a {
    /* color: white; */
    text-decoration: none;
    margin: 0 5px 0 5px;
}

.logo {
    /* width: 25%; */
    width: 80px;
}

/* .nav-bar {
    display: flex;
    flex-direction: row;
} */
.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}