img {
    height: auto;
    max-width: 500px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.project-item {
    width: 500px;
    margin: 15px auto;
}

.card { 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.detail-container > h3, .detail-container > p, .detail-container > h5 {
    margin: 5px;
    align-self: flex-start;
}

.image {
    display: flex;
    align-items:center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .project-item {
        width: 80%;
    }

}

@media screen and (max-width: 500px) {
    img {
        width: 100%;
    }
    .project-item {
        width: 100%;
    }
}