img {
    height: auto;
    max-width: 80%;
}

.buttons {
    display: flex;
    justify-content: center;
}
.project-item {
    width: 50%;
    margin: 15px auto;
}

.card { 
    text-align: center;
}

@media screen and (max-width: 800px) {
    .project-item {
        width: 100%;
    }
}