.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100%;
}

.side-nav button {
    margin-top: 10px;

}

@media screen and (max-width: 650px){
    .side-nav {
        display: none;
    }
}