.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100%;
}

.side-nav button {
    margin-top: 10px;

}

@media screen and (max-width: 650px){
    .side-nav {
        flex-direction: row;
        justify-content: center;
        bottom: 0;
        align-items: flex-end;
        width: 100%;
        height: 10%;
    }
}